.detailsPageContainer {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .detailImage {
    width: 30%;
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .detailsName {
    margin-top: 15px;
    font-weight: 700;
    font-size: 36px;
  }
  
  .detailsDescription {
    margin: 20px 0px;
  }
  
  .detailsPrice {
    margin: 10px 0px;
    font-size: 26px;
    font-weight: 600;
  }
  
  .detailsCategory {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .detailButton {
    width: 100%;
    color: antiquewhite;
    background-color: rgb(54, 43, 29);
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
  }