.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  
  .header {
    width: 100%;
    height: 200px;
    background: rgb(55, 56, 55);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchBar {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    width: 70%;
  }
  
  .productList {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .product {
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 0.2px solid rgb(189, 186, 186);
    cursor: pointer;
  }
  
  .product:hover {
    border: 2px solid rgb(189, 186, 186);
  }
  
  .productImage {
    width: 250px;
    height: 180px;
  }
  
  .productName {
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
  
  .productPrice {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .button {
    width: 40%;
    color: antiquewhite;
    background-color: rgb(54, 43, 29);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }